*{
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 202, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1{
    color:rgb(154, 95, 24);
    margin-bottom: 20px;
}

.planner-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
}

.day{
    background-color: rgb(247, 161, 55);;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.task-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-btn{
    width: 100%;
    color:rgb(128, 80, 21);
    background-color: rgb(252, 223, 187);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover{
    background-color: rgb(253, 242, 225);
}

.task-list{
    list-style-type: none;
    margin-top: 10px;
}

.task-list li{
    background-color: rgb(248, 100, 14);
    color: black;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Faz com que o conteúdo excedente não ultrapasse*/
    border: 1px solid #ccc;

}

.task-text {
    word-wrap: break-word; /* Quebrando o texto em várias linhas */
    white-space: normal;
    font-size: 1rem;
    padding :5px;
    overflow-wrap: break-word;
    width: 100%;
}

.task-list li button{
    background-color: rgb(134, 70, 43);
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Impede a quebra de texto do botão*/
}

.task-list li button:hover{
    background-color: rgb(211, 113, 71);
}

.div-buttons {

    display: inline-flex;

}

.removeAllBtn {
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    font-size: 1rem;
}

.removeAllBtn:hover{
    background-color: rgba(255, 68, 0, 0.451);
}